.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 40vh;
  background-color: #1a3149;
  padding-top: 1.2em;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.right-side {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.linkText {
  color: #5ca9f5;
  font-size: 1.2rem;
}

.pfp {
  max-width: 18em;
  height: auto;
  padding: 1.2em;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume {
  max-width: 100%;
  height: auto;
  display: block;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: #f2f3f4;
  margin: 0;
  white-space: nowrap;
}

@media (min-width: 744px) {
  header {
    flex-direction: row;
  }

  .name {
    font-size: 3rem;
  }

  .resume {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  .name {
    font-size: 4rem;
  }
  .linkText {
    font-size: 1.5rem;
  }
  .pfp {
    max-width: 20em;
  }

  .resume {
    max-width: 60%;
  }
}