.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 40vh;
  background-color: #1a3149;
  margin-bottom: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.right-side {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.linkText {
  color: #5ca9f5;
  font-size: 1.2rem;
}

.pfp {
  max-width: 350px;
  height: auto;
  padding: 20px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume {
  max-width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.name {
  font-size: 4rem;
  font-weight: bold;
  color: #f2f3f4;
  margin: 0;
}