footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a3149;
    width: 100%;
    min-height: 30vh;
}

.contact-form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.left-form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.right-form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

#message {
    margin-bottom: 10px;
    min-height: 100px;
}

#name {
    margin-bottom: 10px;
}

.form-label {
    color: #f2f3f4e0;
}

.success-message {
    color: #f2f3f4e0;
    font-size: 1.5rem;
    text-align: center;
}
