footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a3149;
    width: 100%;
    min-height: 20vh;
}

.contact-form {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.left-form {
    display: flex;
    flex-direction: column;
    min-width: 2em;
}

.right-form {
    display: flex;
    flex-direction: column;
    min-width: 2em;
}

#message {
    margin-bottom: 0.5em;
    min-height: 8em;
}

#name {
    margin-bottom: 0.5em;
}

.form-label {
    color: #f2f3f4e0;
}

.success-message {
    color: #f2f3f4e0;
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 744px) {
    .contact-form {
        gap: 3em;
    }

    .left-form {
        min-width: 13em;
    }

    .right-form {
        min-width: 13em;
    }
  }